<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>X File Hub</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>X File Hub</h1>

<form id="file-uploader" method="post" action="javascript:upload()">
    <p>Upload new file:</p>
    <p>
        <input id="file" type="file" onchange="javascript:init()"/>
        <input type="submit" value="submit"/>
        <span id="percentage"></span>
    </p>
</form>
<p>Here is your file:</p>
<ul>
    {% for file in file_list %}
        <li>
            <a href="/download?filename={{ file }}">{{ file }}</a>
        </li>
    {% endfor %}
</ul>

</body>
<script type="text/javascript">
    var BLOCK_SIZE = 4 * 1024 * 1024;

    var percentage = document.getElementById('percentage');
    var finishCount = 0;
    var totalCount = 0;

    function upload() {
        var file = document.getElementById('file').files[0];
        var blockCount = Math.ceil(file.size / BLOCK_SIZE);
        var blockGroupCount = Math.ceil(blockCount / 5);
        var blockGroupSize = blockGroupCount * BLOCK_SIZE;

        finishCount = 0;
        totalCount = blockCount;

        console.log(file.size + ' / ' + blockGroupSize + ' = ' + blockCount + ' blocks');
        for (var i = 0; i < 5; ++i) {
            if (file.size < i * blockGroupSize) {
                continue;
            }

            var uploader = new Worker('{{ url_for('static', filename='uploader.js') }}');
            uploader.postMessage({
                'wid': i,
                'name': file.name,
                'seq': i * blockGroupCount,
                'data': file.slice(i * blockGroupSize, (i + 1) * blockGroupSize)
            });

            uploader.onmessage = function (message) {
                if (message.data === 'success') {
                    finishCount += 1;
                    percentage.innerHTML = (finishCount / totalCount * 100).toFixed(2) + '%';
                    if (finishCount == totalCount) {
                        location.reload()
                    }
                }
            }
        }
    }

    function init() {
        percentage.innerHTML = '';
    }
</script>
</html>